<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logFileName" value="D:\jb\Visual Studio 2019\Projects\ServiceTest01\bin\Debug\ServiceTest01.log"/>
    <add key="LogLevel" value="DEBUG"/>
    <add key="DirectoryToWatch" value="D:\temp\"/>
    <add key="DirectoryToMove" value="D:\temp\4"/>
    <add key="WatchFilter" value="*.csv"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>